
.input-class{
    border: none;
    --background: #ededed;
    border-radius: 4px;
    height: auto;
}
.text-error{
    font-size: 12px;
    margin-top: 10px !important;
    font-weight: 600;
    p{
        color : #df4a32;

    }
}