@import "../GlobalStyles/mixin";
.product--card{
    position: relative;
    height: 290px;
    border: 1px solid #ccc;
    &__img{
        padding: 10px;
        position: relative;
        object-fit: scale-down;
        a{
            overflow: hidden;
            width: 100%;
            position: relative;
            float: left;
            img{
                width: 100%;
            }
        }
    }
    &__text{
        padding: 15px 20px 0;
        text-align: start;
        &__title{
            padding-top: 15px;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 8px;
        }
        &__price{
            font-size: 14px;
            padding-bottom: 10px;
            display: flex;
            .price__old{
                color: #ccc;
                text-decoration: line-through;
                margin-left: 20px;
            }
        }
    }
    .percent{
        position: absolute;
        font-size: 13px;
        margin: 0;
        color: #fff;
        top: 5px;
        right: 5px;
        font-weight: 700;
        background: #db0000;
        border-radius: 50%;
        padding: 0 5px;
        line-height: 40px;
    }
    &:hover{
        box-shadow: 0px 0px 10px #999;
        .product--card__img{
            a img{
                transform: scale(1.1);
                transition: all 5s;
            }
            &__quickview{
                opacity: 1;
                transform: translateY(240px);
                transition: transform  .5s ease;
            }
        }

    }
}
